.tabs {
    box-sizing: border-box;
    font-family: Arial, Verdana, sans-serif;
}

.tabs__content {
    box-sizing: inherit;
    position: relative;
}

.tabs__panel {
    box-sizing: inherit;
    display: none;
}

.tabs__panel_active {
    display: block;
}

.tabs__list {
    box-sizing: inherit;
    list-style: none;
    padding: 0;
}

.tabs__button {
    box-sizing: inherit;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.tabs__button_active {
    background-color: gray;
    color: #fff;
}

